<!--
<?xml version="1.0"?>
<configuration>

    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />`
    &lt;!&ndash; ch.qos.logback.core.ConsoleAppender 控制台输出 &ndash;&gt;
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} : %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.zx.demo.dao.mybatis" level="debug" additivity="false">
        <appender-ref ref="debug" />
    </logger>


    &lt;!&ndash; 日志级别 &ndash;&gt;
    <root>
        &lt;!&ndash; 定义了ERROR和INFO级别的日志，分别在FILE文件和控制台输出 &ndash;&gt;
        <level value="INFO" />
      &lt;!&ndash;  <appender-ref ref="file" />&ndash;&gt;
        <appender-ref ref="console" />
    </root>


</configuration>-->
