<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.demo.dao.mybatis.AuthorityMapper">
  <resultMap id="BaseResultMap" type="com.zx.demo.domain.mybatis.Authority">
    <id column="authority_id" jdbcType="VARCHAR" property="authority_id" />
    <result column="authority_sign" jdbcType="VARCHAR" property="authority_sign" />
    <result column="authority_name" jdbcType="VARCHAR" property="authority_name" />
    <result column="authority_description" jdbcType="VARCHAR" property="authority_description" />
    <result column="authority_remind" jdbcType="VARCHAR" property="authority_remind" />
    <result column="isEnabled" jdbcType="CHAR" property="isEnabled" />
    <result column="isSys" jdbcType="VARCHAR" property="isSys" />
    <result column="rec_creator" jdbcType="VARCHAR" property="rec_creator" />
    <result column="rec_create_time" jdbcType="VARCHAR" property="rec_create_time" />
    <result column="rec_revisor" jdbcType="VARCHAR" property="rec_revisor" />
    <result column="rec_revisor_time" jdbcType="VARCHAR" property="rec_revisor_time" />
  </resultMap>
  <sql id="Base_Column_List">
    authority_id, authority_sign, authority_name, authority_description, authority_remind, 
    isEnabled, isSys, rec_creator, rec_create_time, rec_revisor, rec_revisor_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from authority
    where authority_id = #{authority_id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from authority
    where authority_id = #{authority_id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zx.demo.domain.mybatis.Authority">
    insert into authority (authority_id, authority_sign, authority_name, 
      authority_description, authority_remind, 
      isEnabled, isSys, rec_creator, 
      rec_create_time, rec_revisor, rec_revisor_time
      )
    values (#{authority_id,jdbcType=VARCHAR}, #{authority_sign,jdbcType=VARCHAR}, #{authority_name,jdbcType=VARCHAR}, 
      #{authority_description,jdbcType=VARCHAR}, #{authority_remind,jdbcType=VARCHAR}, 
      #{isEnabled,jdbcType=CHAR}, #{isSys,jdbcType=VARCHAR}, #{rec_creator,jdbcType=VARCHAR}, 
      #{rec_create_time,jdbcType=VARCHAR}, #{rec_revisor,jdbcType=VARCHAR}, #{rec_revisor_time,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zx.demo.domain.mybatis.Authority">
    insert into authority
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="authority_id != null">
        authority_id,
      </if>
      <if test="authority_sign != null">
        authority_sign,
      </if>
      <if test="authority_name != null">
        authority_name,
      </if>
      <if test="authority_description != null">
        authority_description,
      </if>
      <if test="authority_remind != null">
        authority_remind,
      </if>
      <if test="isEnabled != null">
        isEnabled,
      </if>
      <if test="isSys != null">
        isSys,
      </if>
      <if test="rec_creator != null">
        rec_creator,
      </if>
      <if test="rec_create_time != null">
        rec_create_time,
      </if>
      <if test="rec_revisor != null">
        rec_revisor,
      </if>
      <if test="rec_revisor_time != null">
        rec_revisor_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="authority_id != null">
        #{authority_id,jdbcType=VARCHAR},
      </if>
      <if test="authority_sign != null">
        #{authority_sign,jdbcType=VARCHAR},
      </if>
      <if test="authority_name != null">
        #{authority_name,jdbcType=VARCHAR},
      </if>
      <if test="authority_description != null">
        #{authority_description,jdbcType=VARCHAR},
      </if>
      <if test="authority_remind != null">
        #{authority_remind,jdbcType=VARCHAR},
      </if>
      <if test="isEnabled != null">
        #{isEnabled,jdbcType=CHAR},
      </if>
      <if test="isSys != null">
        #{isSys,jdbcType=VARCHAR},
      </if>
      <if test="rec_creator != null">
        #{rec_creator,jdbcType=VARCHAR},
      </if>
      <if test="rec_create_time != null">
        #{rec_create_time,jdbcType=VARCHAR},
      </if>
      <if test="rec_revisor != null">
        #{rec_revisor,jdbcType=VARCHAR},
      </if>
      <if test="rec_revisor_time != null">
        #{rec_revisor_time,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zx.demo.domain.mybatis.Authority">
    update authority
    <set>
      <if test="authority_sign != null">
        authority_sign = #{authority_sign,jdbcType=VARCHAR},
      </if>
      <if test="authority_name != null">
        authority_name = #{authority_name,jdbcType=VARCHAR},
      </if>
      <if test="authority_description != null">
        authority_description = #{authority_description,jdbcType=VARCHAR},
      </if>
      <if test="authority_remind != null">
        authority_remind = #{authority_remind,jdbcType=VARCHAR},
      </if>
      <if test="isEnabled != null">
        isEnabled = #{isEnabled,jdbcType=CHAR},
      </if>
      <if test="isSys != null">
        isSys = #{isSys,jdbcType=VARCHAR},
      </if>
      <if test="rec_creator != null">
        rec_creator = #{rec_creator,jdbcType=VARCHAR},
      </if>
      <if test="rec_create_time != null">
        rec_create_time = #{rec_create_time,jdbcType=VARCHAR},
      </if>
      <if test="rec_revisor != null">
        rec_revisor = #{rec_revisor,jdbcType=VARCHAR},
      </if>
      <if test="rec_revisor_time != null">
        rec_revisor_time = #{rec_revisor_time,jdbcType=VARCHAR},
      </if>
    </set>
    where authority_id = #{authority_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zx.demo.domain.mybatis.Authority">
    update authority
    set authority_sign = #{authority_sign,jdbcType=VARCHAR},
      authority_name = #{authority_name,jdbcType=VARCHAR},
      authority_description = #{authority_description,jdbcType=VARCHAR},
      authority_remind = #{authority_remind,jdbcType=VARCHAR},
      isEnabled = #{isEnabled,jdbcType=CHAR},
      isSys = #{isSys,jdbcType=VARCHAR},
      rec_creator = #{rec_creator,jdbcType=VARCHAR},
      rec_create_time = #{rec_create_time,jdbcType=VARCHAR},
      rec_revisor = #{rec_revisor,jdbcType=VARCHAR},
      rec_revisor_time = #{rec_revisor_time,jdbcType=VARCHAR}
    where authority_id = #{authority_id,jdbcType=VARCHAR}
  </update>
</mapper>