<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.demo.dao.mybatis.RoleAuthorityMapper">
  <resultMap id="BaseResultMap" type="com.zx.demo.domain.mybatis.RoleAuthority">
    <id column="role_authority_id" jdbcType="VARCHAR" property="role_authority_id" />
    <result column="role_id" jdbcType="VARCHAR" property="role_id" />
    <result column="rauthority_id" jdbcType="VARCHAR" property="rauthority_id" />
    <result column="rec_creator" jdbcType="VARCHAR" property="rec_creator" />
    <result column="rec_create_time" jdbcType="VARCHAR" property="rec_create_time" />
    <result column="rec_revisor" jdbcType="VARCHAR" property="rec_revisor" />
    <result column="rec_revisor_time" jdbcType="VARCHAR" property="rec_revisor_time" />
  </resultMap>
  <sql id="Base_Column_List">
    role_authority_id, role_id, rauthority_id, rec_creator, rec_create_time, rec_revisor, 
    rec_revisor_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role_authority
    where role_authority_id = #{role_authority_id,jdbcType=VARCHAR}
  </select>

  <select id="selectByRoleId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from role_authority
    where role_id = #{role_id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from role_authority
    where role_authority_id = #{role_authority_id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.zx.demo.domain.mybatis.RoleAuthority">
    insert into role_authority (role_authority_id, role_id, rauthority_id, 
      rec_creator, rec_create_time, rec_revisor, 
      rec_revisor_time)
    values (#{role_authority_id,jdbcType=VARCHAR}, #{role_id,jdbcType=VARCHAR}, #{rauthority_id,jdbcType=VARCHAR}, 
      #{rec_creator,jdbcType=VARCHAR}, #{rec_create_time,jdbcType=VARCHAR}, #{rec_revisor,jdbcType=VARCHAR}, 
      #{rec_revisor_time,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.zx.demo.domain.mybatis.RoleAuthority">
    insert into role_authority
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="role_authority_id != null">
        role_authority_id,
      </if>
      <if test="role_id != null">
        role_id,
      </if>
      <if test="rauthority_id != null">
        rauthority_id,
      </if>
      <if test="rec_creator != null">
        rec_creator,
      </if>
      <if test="rec_create_time != null">
        rec_create_time,
      </if>
      <if test="rec_revisor != null">
        rec_revisor,
      </if>
      <if test="rec_revisor_time != null">
        rec_revisor_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="role_authority_id != null">
        #{role_authority_id,jdbcType=VARCHAR},
      </if>
      <if test="role_id != null">
        #{role_id,jdbcType=VARCHAR},
      </if>
      <if test="rauthority_id != null">
        #{rauthority_id,jdbcType=VARCHAR},
      </if>
      <if test="rec_creator != null">
        #{rec_creator,jdbcType=VARCHAR},
      </if>
      <if test="rec_create_time != null">
        #{rec_create_time,jdbcType=VARCHAR},
      </if>
      <if test="rec_revisor != null">
        #{rec_revisor,jdbcType=VARCHAR},
      </if>
      <if test="rec_revisor_time != null">
        #{rec_revisor_time,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zx.demo.domain.mybatis.RoleAuthority">
    update role_authority
    <set>
      <if test="role_id != null">
        role_id = #{role_id,jdbcType=VARCHAR},
      </if>
      <if test="rauthority_id != null">
        rauthority_id = #{rauthority_id,jdbcType=VARCHAR},
      </if>
      <if test="rec_creator != null">
        rec_creator = #{rec_creator,jdbcType=VARCHAR},
      </if>
      <if test="rec_create_time != null">
        rec_create_time = #{rec_create_time,jdbcType=VARCHAR},
      </if>
      <if test="rec_revisor != null">
        rec_revisor = #{rec_revisor,jdbcType=VARCHAR},
      </if>
      <if test="rec_revisor_time != null">
        rec_revisor_time = #{rec_revisor_time,jdbcType=VARCHAR},
      </if>
    </set>
    where role_authority_id = #{role_authority_id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.zx.demo.domain.mybatis.RoleAuthority">
    update role_authority
    set role_id = #{role_id,jdbcType=VARCHAR},
      rauthority_id = #{rauthority_id,jdbcType=VARCHAR},
      rec_creator = #{rec_creator,jdbcType=VARCHAR},
      rec_create_time = #{rec_create_time,jdbcType=VARCHAR},
      rec_revisor = #{rec_revisor,jdbcType=VARCHAR},
      rec_revisor_time = #{rec_revisor_time,jdbcType=VARCHAR}
    where role_authority_id = #{role_authority_id,jdbcType=VARCHAR}
  </update>
</mapper>