<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.demo.dao.mybatis.UserMapper">
  <resultMap id="BaseResultMap" type="com.zx.demo.domain.mybatis.User">
    <id column="user_id" jdbcType="VARCHAR" property="user_id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="isExpired" jdbcType="CHAR" property="isExpired" />
    <result column="isEnabled" jdbcType="CHAR" property="isEnabled" />
    <result column="isLocked" jdbcType="CHAR" property="isLocked" />
    <result column="isCredentialsExpired" jdbcType="CHAR" property="isCredentialsExpired" />
    <result column="rec_creator" jdbcType="VARCHAR" property="rec_creator" />
    <result column="rec_create_time" jdbcType="VARCHAR" property="rec_create_time" />
    <result column="rec_revisor" jdbcType="VARCHAR" property="rec_revisor" />
    <result column="rec_revisor_time" jdbcType="VARCHAR" property="rec_revisor_time" />
  </resultMap>

  <sql id="Base_Column_List">
    user_id, username, password, sex, age, email, isExpired, isEnabled, isLocked, isCredentialsExpired, 
    rec_creator, rec_create_time, rec_revisor, rec_revisor_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{user_id,jdbcType=VARCHAR}
  </select>

  <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where username = #{username,jdbcType=VARCHAR}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where user_id = #{user_id,jdbcType=VARCHAR}
  </delete>


  <insert id="insert" parameterType="com.zx.demo.domain.mybatis.User">
    insert into user (user_id, username, password, 
      sex, age, email, isExpired, 
      isEnabled, isLocked, isCredentialsExpired, 
      rec_creator, rec_create_time, rec_revisor, 
      rec_revisor_time)
    values (#{user_id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{sex,jdbcType=CHAR}, #{age,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{isExpired,jdbcType=CHAR}, 
      #{isEnabled,jdbcType=CHAR}, #{isLocked,jdbcType=CHAR}, #{isCredentialsExpired,jdbcType=CHAR}, 
      #{rec_creator,jdbcType=VARCHAR}, #{rec_create_time,jdbcType=VARCHAR}, #{rec_revisor,jdbcType=VARCHAR}, 
      #{rec_revisor_time,jdbcType=VARCHAR})
  </insert>


  <insert id="insertSelective" parameterType="com.zx.demo.domain.mybatis.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="user_id != null">
        user_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="isExpired != null">
        isExpired,
      </if>
      <if test="isEnabled != null">
        isEnabled,
      </if>
      <if test="isLocked != null">
        isLocked,
      </if>
      <if test="isCredentialsExpired != null">
        isCredentialsExpired,
      </if>
      <if test="rec_creator != null">
        rec_creator,
      </if>
      <if test="rec_create_time != null">
        rec_create_time,
      </if>
      <if test="rec_revisor != null">
        rec_revisor,
      </if>
      <if test="rec_revisor_time != null">
        rec_revisor_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="user_id != null">
        #{user_id,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="isExpired != null">
        #{isExpired,jdbcType=CHAR},
      </if>
      <if test="isEnabled != null">
        #{isEnabled,jdbcType=CHAR},
      </if>
      <if test="isLocked != null">
        #{isLocked,jdbcType=CHAR},
      </if>
      <if test="isCredentialsExpired != null">
        #{isCredentialsExpired,jdbcType=CHAR},
      </if>
      <if test="rec_creator != null">
        #{rec_creator,jdbcType=VARCHAR},
      </if>
      <if test="rec_create_time != null">
        #{rec_create_time,jdbcType=VARCHAR},
      </if>
      <if test="rec_revisor != null">
        #{rec_revisor,jdbcType=VARCHAR},
      </if>
      <if test="rec_revisor_time != null">
        #{rec_revisor_time,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="com.zx.demo.domain.mybatis.User">
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="isExpired != null">
        isExpired = #{isExpired,jdbcType=CHAR},
      </if>
      <if test="isEnabled != null">
        isEnabled = #{isEnabled,jdbcType=CHAR},
      </if>
      <if test="isLocked != null">
        isLocked = #{isLocked,jdbcType=CHAR},
      </if>
      <if test="isCredentialsExpired != null">
        isCredentialsExpired = #{isCredentialsExpired,jdbcType=CHAR},
      </if>
      <if test="rec_creator != null">
        rec_creator = #{rec_creator,jdbcType=VARCHAR},
      </if>
      <if test="rec_create_time != null">
        rec_create_time = #{rec_create_time,jdbcType=VARCHAR},
      </if>
      <if test="rec_revisor != null">
        rec_revisor = #{rec_revisor,jdbcType=VARCHAR},
      </if>
      <if test="rec_revisor_time != null">
        rec_revisor_time = #{rec_revisor_time,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{user_id,jdbcType=VARCHAR}
  </update>


  <update id="updateByPrimaryKey" parameterType="com.zx.demo.domain.mybatis.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      age = #{age,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      isExpired = #{isExpired,jdbcType=CHAR},
      isEnabled = #{isEnabled,jdbcType=CHAR},
      isLocked = #{isLocked,jdbcType=CHAR},
      isCredentialsExpired = #{isCredentialsExpired,jdbcType=CHAR},
      rec_creator = #{rec_creator,jdbcType=VARCHAR},
      rec_create_time = #{rec_create_time,jdbcType=VARCHAR},
      rec_revisor = #{rec_revisor,jdbcType=VARCHAR},
      rec_revisor_time = #{rec_revisor_time,jdbcType=VARCHAR}
    where user_id = #{user_id,jdbcType=VARCHAR}
  </update>
</mapper>